/.quarto/
.quarto/_freeze/P1/execute-results/html.json
.quarto/idx/index.qmd.json
.quarto/idx/instala.qmd.json
.quarto/idx/P1.qmd.json
.quarto/preview/lock
.quarto/xref/3e0a9651
.quarto/xref/7cd8d508

.Rproj.user/52B9D855/jobs/136C1BF1-output.json
.Rproj.user/52B9D855/sources/prop/33C57CC2
.Rproj.user/52B9D855/sources/prop/8C901F4B
.Rproj.user/52B9D855/sources/prop/D06A5134
.Rproj.user/52B9D855/sources/prop/F2AF4178
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/52B9D855/sources/session-7a98e56c/1C8A7488
.Rproj.user/52B9D855/sources/session-7a98e56c/24617EE7
.Rproj.user/52B9D855/sources/session-7a98e56c/24617EE7-contents
.Rproj.user/52B9D855/sources/session-7a98e56c/339644D1
.Rproj.user/52B9D855/sources/session-7a98e56c/339644D1-contents
.Rproj.user/52B9D855/sources/session-7a98e56c/6EF87D8B-contents
.Rproj.user/52B9D855/sources/session-7a98e56c/9D282DEB
.Rproj.user/52B9D855/sources/session-7a98e56c/9D282DEB-contents
.Rproj.user/52B9D855/sources/session-7a98e56c/AE60B72B
.Rproj.user/52B9D855/sources/session-7a98e56c/C3696889
.Rproj.user/52B9D855/sources/session-7a98e56c/C3696889-contents
.Rproj.user/shared/notebooks/405AEE39-P12/1/52B9D8557a98e56c/chunks.json
.Rproj.user/shared/notebooks/405AEE39-P12/1/s/chunks.json
.Rproj.user/shared/notebooks/DEE3EC76-instala/1/52B9D8557a98e56c/chunks.json
.Rproj.user/shared/notebooks/DEE3EC76-instala/1/s/chunks.json
.Rproj.user/shared/notebooks/E0697DDD-P1/1/52B9D8557a98e56c/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user
